James Knox Polk

Assignment 5

CSC 571-01 Bioinformatics, Spring 2019, UNCG, Dr. Manda

1. The null hypotheses are that there is no statistically significant difference between the mean Machine and mean Human SimJ scores, and no statistically significant difference between the mean Machine and mean Human NIC scores.

2. To test the hypotheses, I will use a Paired Two-tailed T-Test for each pair of scores.

In [5]:
# import pandas as pd
import scipy.stats as ss
import pingouin as pg
from IPython.display import display


file = 'SemanticSimilarityScores.tsv'
pd.set_option('display.max_columns', None)

df = pd.read_csv(file, sep='\t', header=0)
# Descriptive statistics for each column
print('Descriptive Statistics by Column:')
display(df.describe())

Descriptive Statistics by Column:

,Character Number,SimJ Score MACHINE,NIC Score MACHINE,SimJ Score HUMAN,NIC Score HUMAN
count,463.000000,463.000000,463.000000,463.000000,463.000000
mean,101.438445,0.275789,0.429022,0.732138,0.864865
std,59.252377,0.396740,0.388360,0.336095,0.133516
min,1.000000,0.000000,0.000000,0.000000,0.000000
25%,49.000000,0.000000,0.000000,0.486722,0.855878
50%,101.000000,0.002392,0.563514,0.961538,0.893731
75%,152.000000,0.476923,0.833735,1.000000,0.924293
max,203.000000,1.000000,0.924293,1.000000,0.962146

In [6]:
simj_machine = df['SimJ Score MACHINE']
simj_human = df['SimJ Score HUMAN']
nic_machine = df['NIC Score MACHINE']
nic_human = df['NIC Score HUMAN']
alpha = 1e-3

print('Paired Two-tailed T-Test Result between SimJ Score Machine and SimJ Score Human:')
ttest1 = pg.ttest(simj_machine, simj_human, paired=True)

display(ttest1)

if alpha < ttest1.iloc[0]['p-val']:
    print('The mean SimJ score of the Text Mining tool is not statistically significant different than the mean human SimJ score.')
else:
    print('The mean SimJ score of the Text Mining tool is statistically significant different than the mean human SimJ score.')

Paired Two-tailed T-Test Result between SimJ Score Machine and SimJ Score Human:

             T         p-val  dof       tail  cohen-d  power          BF10
T-test -22.822  9.429118e-78  462  two-sided    1.245    1.0  1.273322e+74

The mean SimJ score of the Text Mining tool is statistically significant different than the mean human SimJ score.

In [7]:
print('Paired Two-tailed T-Test Result between NIC Score Machine and NIC Score Human:')
ttest2 = pg.ttest(nic_machine, nic_human, paired=True)

display(ttest2)

if alpha < ttest2.iloc[0]['p-val']:
    print('The mean NIC score of the Text Mining tool is not statistically significant different than the mean human NIC score.')
else:
    print('The mean NIC score of the Text Mining tool is statistically significant different than the mean human NIC score.')

Paired Two-tailed T-Test Result between NIC Score Machine and NIC Score Human:

             T         p-val  dof       tail  cohen-d  power          BF10
T-test -23.102  4.645555e-79  462  two-sided     1.67    1.0  2.543188e+75

The mean NIC score of the Text Mining tool is statistically significant different than the mean human NIC score.

5. The two T-Tests both showed statistically significant differences between the mean MACHINE and the mean HUMAN scores for both SimJ and NIC with both p-values being <0.00001.  As such, the null hypotheses have proven false.  Furthermore, with a Bayes Factors(BF10) > 1000, there is extreme evidence for the significant differences.  Based on the negative T-values for both tests, we can conclude that the mean MACHINE scores are statistically significantly lower than the mean HUMAN scores for both SimJ and NIC.